<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <!-- <img src="./assets/img/brand/argon-white.png" style="width: 200px;" class="img-fluid"> -->
              <p class="lead text-white">This site is capable to all type file convertor without using backend!</p>
              <div class="btn-wrapper mt-5">

                <div class="drop-zone" (drop)="onFileDrop($event)" (dragover)="onDragOver($event)"
                  (dragleave)="onDragLeave($event)">
                  <p>Drag and drop files here</p>Or <br>
                  <div>
                    <input type="file" #fileInput style="display: none;" (change)="onFileSelected()" accept=".jpg,.png"
                      multiple>
                    <button (click)="fileInput.click()">Choose Files</button>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label style="color:aliceblue"for="width">Width:</label>
                    <input  type="number" id="width" [(ngModel)]="imageWidth" placeholder="Enter width">
                  </div>
                  <div class="col">
                    <label  style="color:aliceblue" for="height">Height:</label>
                    <input type="number" id="height" [(ngModel)]="imageHeight" placeholder="Enter height">
                  </div>
                  <div class="col-12">
                    <a class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                      <span class="btn-inner--icon"><i class="fa fa-file"></i>
                        <label for="file-extension"> Select File Extension:</label></span>
                      <select id="file-extension" (change)="onExtensionSelected($event.target.value);">
                        <option value="">Select an extension...</option>
                        <optgroup label="Image Files">
                          <option value=".jpg">.jpg</option>
                          <option value=".jpeg">.jpeg</option>
                          <option value=".png">.png</option>
                          <option value=".gif">.gif</option>
                          <option value=".bmp">.bmp</option>
                          <option value=".svg">.svg</option>
                        </optgroup>
                        <optgroup label="Document Files">
                          <option value=".txt">.txt</option>
                          <option value=".doc">.doc</option>
                          <option value=".docx">.docx</option>
                          <option value=".pdf">.pdf</option>
                          <option value=".xls">.xls</option>
                          <option value=".xlsx">.xlsx</option>
                          <option value=".ppt">.ppt</option>
                          <option value=".pptx">.pptx</option>
                        </optgroup>
                        <optgroup label="Audio Files">
                          <option value=".mp3">.mp3</option>
                          <option value=".wav">.wav</option>
                          <!-- Add more audio file extensions as needed -->
                        </optgroup>
                        <optgroup label="Video Files">
                          <option value=".mp4">.mp4</option>
                          <option value=".avi">.avi</option>
                          <option value=".mkv">.mkv</option>
                          <!-- Add more video file extensions as needed -->
                        </optgroup>
                        <optgroup label="Compressed Files">
                          <option value=".zip">.zip</option>
                          <option value=".rar">.rar</option>
                          <!-- Add more compressed file extensions as needed -->
                        </optgroup>
                      </select>
                    </a>
                  </div>
                </div>
              </div>
              <!-- <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
              <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                <div class="nav-item dropdown">
                  <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                    <i class="ni ni-ui-04 d-lg-none"></i>
                    <span class="nav-link-inner--text">Components</span>
                  </a>
                  <div class="dropdown-menu-xl dropdown-menu" >
                    <div class="dropdown-menu-inner">
                      <a routerLinkActive="active" [routerLink]="['docum  entation/tutorial']" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                          <i class="ni ni-spaceship"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="heading text-primary mb-md-1">Getting started</h6>
                          <p class="description d-none d-md-inline-block mb-0">Learn how to use Argon compiling Scss, change brand colors and more.</p>
                        </div>
                      </a>
                      <a routerLinkActive="active" [routerLink]="['documentation/colors']" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                          <i class="ni ni-palette"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h6 class="heading text-primary mb-md-1">Foundation</h6>
                          <p class="description d-none d-md-inline-block mb-0">Learn more about colors, typography, icons and the grid system we used for Argon.</p>
                        </div>
                      </a>
                      <a routerLinkActive="active" [routerLink]="['documentation/alerts']" class="media d-flex align-items-center">
                        <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                          <i class="ni ni-ui-04"></i>
                        </div>
                        <div class="media-body ml-3">
                          <h5 class="heading text-warning mb-md-1">Components</h5>
                          <p class="description d-none d-md-inline-block mb-0">Browse our 50 beautiful handcrafted components offered in the Free version.</p>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
                <li class="nav-item dropdown">
                  <a class="nav-link no-caret" data-toggle="dropdown" role="button">
                    <i class="ni ni-collection d-lg-none"></i>
                    <span class="nav-link-inner--text">Examples</span>
                  </a>
                  <div class="dropdown-menu">
                    <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>
                    <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
                    <a [routerLink]="['/login']" class="dropdown-item">Login</a>
                    <a [routerLink]="['/register']" class="dropdown-item">Register</a>
                  </div>
                </li>
              </ul>
             </div> -->

            </div>
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <app-show-files [data]=data  [extension]=extension [selectedFiles]=selectedFiles></app-show-files>



</main>